{% extends "layout.html" %}
{% block content %}

<div class="container">

    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <h3>The Wallet Watcher Project</h3>
            <p>
                &nbsp&nbsp&nbsp&nbspThe purpose of this project is to demonstrate my abilities
                to be a Full-Stack Web Engineer. At the front-end, I built the website with
                Bootstrap. The database I chose mongoDB because of its flexible schema and its
                high scalability. At the back-end, the whole application was written in Python
                and used Flask as the framework. Last but not least, I utilized Gunicorn and
                Nginx to deploy the project on a server in the Google Cloud Platform.
            </p>
        </div>
        <div class="col-lg-6 col-sm-12 text-center">
            <img src="https://blogopensips.files.wordpress.com/2017/03/mongodb-logo.png" class="w-50" alt="...">
            <p class="pic_source">(Picture Source: https://blogopensips.files.wordpress.com/2017/03/mongodb-logo.png)</p>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12 pt-4">
            <img src="https://miro.medium.com/max/824/1*9RqBEDU9Mbg6XM8O6d7Q9A.png" class="w-100" alt="...">
            <p class="pic_source">(Picture Source: https://miro.medium.com/max/824/1*9RqBEDU9Mbg6XM8O6d7Q9A.png)</p>
        </div>
        <div class="col-lg-6 col-sm-12">
            <img src="https://course.fast.ai/images/gcp/logo.jpg" class="w-100" alt="...">
            <p class="pic_source">(Picture Source: https://course.fast.ai/images/gcp/logo.jpg)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="https://miro.medium.com/max/1346/1*nFxyDwJ2DEH1G5PMKPMj1g.png" class="w-100" alt="...">
            <p class="pic_source">(Picture Source: https://medium.com/ymedialabs-innovation/deploy-flask-app-with-nginx-using-gunicorn-and-supervisor-d7a93aa07c18)</p>
        </div>
    </div>
</div>

{% endblock content %}