<div class="card text-center border-top-0">
    <div class="container">
        <div class="mt-3">
            <h3>Total: {{currency}}{{ total_amount_month }}</h3>
        </div>
        <div class="row justify-content-center">
            {% for i in sorted_by_amount_month %}
                {% if i[0] != 0 %}
                    <div class="card mr-2 mt-2" style="width: 19rem; background-color: #eef;">
                        <div class="card-header" style="text-align: center">
                            <h4 class="card-title mt-1 ml-2">{{ i[1][0]['category'] }}</h4>
                            <a href="{{ url_for('records.record') +'/'+ i[1][0]['category'][:4] + '?limit=4&offset=0' }}">
                                <p class="card-subtitle mt-1 text-muted" style="font-size:8px; text-align: right">Edit</p>
                            </a>
                        </div>
                            {% for record in i[1] %}
                            <div class="row">
                                <div class="col-6 pl-4 pr-0" style="text-align:left;">
                                    {{ record['date'] }} {{ record['time'] }}
                                </div>
                                <div class="col-6 pl-4 pr-0" style="text-align:left;">
                                    {{ record['currency'] }}{{ record['amount'] }}
                                </div>
                            </div>
                            {% endfor %}
                        <div class="mb-2" style="border-bottom: 1px solid #ccc;">⋮</div>
                        <div class="mb-2">Total: {{ currency }}{{ i[0] }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>