{% extends "layout.html" %}
{% block content %}
<div class="card text-center">
  <div class="card-header">
	<ul class="nav nav-tabs card-header-tabs">
	  <li class="nav-item">
		<a class="nav-link" href="#">3-Day</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="#">Week</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="#">Month</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="#">Year</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link active" href="#">All</a>
	  </li>
	</ul>
  </div>
    <div class="container">
        <div class="row justify-content-center">
            {% for i in sorted_by_amount %}
                {% if i[0] != 0 %}
                    <div class="card mr-2 mt-2" style="width: 19rem; background-color: #eef;">
                        <div class="card-header" style="text-align: center">
                            <h4 class="card-title mt-1 ml-2">{{ i[1][0]['category'] }}</h4>
                        </div>
                            {% for record in i[1] %}
                            <div class="row">
                                <div class="col-6 pl-4 pr-0" style="text-align:left;">
                                    {{ record['date'] }} {{ record['time'] }}
                                </div>
                                <div class="col-6 pl-4 pr-0" style="text-align:left;">
                                    {{ record['currency'] }}{{ record['amount'] }}
                                </div>
                            </div>
                            {% endfor %}
                        <div class="mb-2" style="border-bottom: 1px solid #ccc;">⋮</div>
                        <div class="mb-2">Total: {{ i[0] }}</div>
                        <div class="card-footer">
                            <a href="">
                                <p class="card-subtitle mt-1 text-muted" style="font-size:8px; text-align: right">Edit</p>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}